body {
    /* colors */
    --color-light: #ffffff;
    --color-muted: #b4b4b4;
    --color-muted-alt: #f5f8fa;
    --color-dark: #333333;

    /* Twitter colors */
    --twitter-primary-color: #50b7f5;
    --twitter-primary-light-color: #e8f5fe;
}

.app {
    display: flex;
    align-items: flex-start;

    height: 100vh;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 13px;
}