.feed.section {
    border-bottom: 1px solid var(--color-muted);
    border-left: 1px solid var(--color-muted);
    border-right: 1px solid var(--color-muted);
    flex: 0.4;
    height: 100vh;
    min-width: fit-content;
    overflow-y: scroll;
}

.feed.section::-webkit-scrollbar {
    display: none;
}

.feed.section {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.feed.section > .header {
    background-color: var(--color-light);
    padding: 13px 21px;
    position: sticky;
    top: 0;
    z-index: 99;
}

.feed.section .header h3 {
    margin: 0;
}