.post.panel {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border-bottom: 1px solid var(--color-muted);
    padding-bottom: 13px;
}

.post.panel .avatar {
    padding: 20px;
}

.post.panel .header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
    padding-top: 13px;
}

.post.panel .header h3 {
    margin: 0;
}

.post.panel .badge {
    color: var(--twitter-primary-color);
    font-size: 14px;
    margin-left: 5px;
}

.post.panel .header h3:last-child {
    color: var(--color-muted);
    padding-left: 5px;
}

.post.panel .body {
    flex: 1;
    max-width: 480px;
}

.post.panel .body p {
    margin-top: 0;
}

.post.panel .body img {
    border-radius: 20px;
}

.post.panel .footer {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    margin-top: 13px;
    max-width: 64%;
    margin-left: 18%;
}

.post.panel .footer .MuiSvgIcon-root {
    cursor: pointer;
}