.post.box {
    border-bottom: 1px solid var(--color-muted);
    padding-bottom: 13px;
    padding-right: 13px;
}

.post.box form {
    display: flex;
    flex-direction: column;
}

.post.box .input.field {
    display: flex;
    padding: 21px;
}

.post.box .input.field input {
    border: none;
    flex: 1;
    font-size: 21px;
    margin-left: 21px;
    outline: none;
}

.post.box .image.input {
    border: none;
    padding: 13px;
    margin-left: 72px;
    outline: none;
}

.post.box .post.button {
    background-color: var(--twitter-primary-color);
    border: none;
    border-radius: 34px;
    color: var(--color-light);
    font-weight: 700;
    height: 55px;
    margin-left: auto;
    margin-top: 21px;
    text-transform: inherit;
}