.sidebar.option {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar.option:hover {
    background-color: var(--twitter-primary-light-color);
    border-radius: 34px;
    color: var(--twitter-primary-color);
}

.sidebar.option.active {
    color: var(--twitter-primary-color);
}

.sidebar.option .MuiSvgIcon-root {
    padding: 21px;
}

.sidebar.option .text {
    font-weight: 700;
    font-size: 21px;
    margin-right: 21px;
}