.sidebar.section {
    flex: 0.3;
    margin-top: 21px;
    padding-left: 21px;
    padding-right: 21px;
}

.sidebar.section .data.icon {
    color: var(--twitter-primary-color);
    font-size: 34px;
    margin-left: 13px;
    margin-bottom: 21px;
}

.sidebar.section .post.button {
    background-color: var(--twitter-primary-color);
    border: none;
    border-radius: 34px;
    color: var(--color-light);
    font-weight: 700;
    height: 55px;
    margin-top: 21px;
    text-transform: inherit;
}