.widgets.section {
    flex: 0.3;
}

.widgets.section .search.input.field {
    display: flex;
    align-items: center;
    background-color: var(--twitter-primary-light-color);
    border-radius: 30px;
    margin-left: 21px;
    margin-top: 13px;
    padding: 13px;
}

.widgets.section .search.input.field input {
    background-color: var(--twitter-primary-light-color);
    border: none;
    outline: none;
}

.widgets.section .search.icon {
    color: var(--color-muted);
}

.widgets.section .container {
    background-color: var(--color-muted-alt);
    border-radius: 20px;
    margin-left: 21px;
    margin-top: 13px;
    padding: 21px;
}

.widgets.section .container > h3 {
    margin-top: 0;
}